/* Join button */

.join-btn{
background:#C2F2FF;
color:#0A6DC2;
padding:12px 24px;
border-radius:10px;
font-weight:600;
transition:0.3s;
}

.join-btn:hover{
background:#0A6DC2;
color:white;
}


/* hero images */

.hero-images{
position:relative;
margin-right:120px;
}

.img1{
width:345px;
height:194px;
object-fit:cover;
border-radius:14px;
position:absolute;
top:0;
right:0;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.img2{
width:345px;
height:194px;
object-fit:cover;
border-radius:14px;
position:absolute;
top:120px;
right:-120px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}


/* text label overlay */

.image-label{
position:absolute;
bottom:8px;
left:10px;
background:#C2F2FF;
padding:6px 12px;
border-radius:8px;
font-size:12px;
font-weight:600;
color:#0A6DC2;
}
