body{
margin:0;
font-family:Arial;
background:#C2F2FF;
}

/* navbar */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:white;
}

nav a{
margin-left:20px;
text-decoration:none;
color:#0A6DC2;
font-weight:bold;
}

/* hero */

.hero{
height:80vh;
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(#C2F2FF,#ffffff);
text-align:center;
}

.hero h1{
font-size:60px;
color:#0A6DC2;
}

.hero button{
padding:15px 40px;
border:none;
background:#0A6DC2;
color:white;
font-size:18px;
cursor:pointer;
border-radius:8px;
}

/* features */

.features{
display:flex;
gap:30px;
justify-content:center;
padding:60px;
}

.card{
background:white;
padding:30px;
border-radius:10px;
width:250px;
text-align:center;
}

/* trainers */

.trainers{
padding:80px;
text-align:center;
}

.trainer-grid{
display:flex;
gap:30px;
justify-content:center;
}

.trainer img{
width:200px;
border-radius:10px;
}

/* pricing */

.pricing{
padding:80px;
display:flex;
gap:30px;
justify-content:center;
}

.price-card{
background:white;
padding:30px;
text-align:center;
border-radius:10px;
}

/* contact */

.contact{
padding:80px;
text-align:center;
}

.contact input,
.contact textarea{
display:block;
margin:10px auto;
width:300px;
padding:10px;
}

footer{
background:#0A6DC2;
color:white;
text-align:center;
padding:20px;
}
